{% extends 'blog/base.html' %}

{% block content %}
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a>
    <span class="breadcrumb-item active">Add comment</span>
  </nav>

  <h2 class="form-title">
    Add comment
  </h2>

  <form class="post-form" method="post">
  {% csrf_token %}
    <div class="form-group">
      
      
      {{ form.as_p }}
    </div>
    <input type="submit" class="btn btn-primary btn-submit">
  </form>
{% endblock %}
